@media screen and (max-width: 1440px) {
  .advantages {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      &-title {
        font-size: 24px;
      }
      &-descr {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 577px;
  }
  .header {
    flex-direction: column;
    gap: 30px;
    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .promo {
    background: url('../images/main_bg.png') 30% (center / cover) no-repeat;
  }
  .advantages {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__item {
      &-title {
        font-size: 32px;
      }
      &-descr {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }

  .promo {
    background: url('../images/main_bg.png') 32% (center / cover) no-repeat;
  }
  .advantages {
    &__item {
      &-title {
        font-size: 30px;
      }
      &-descr {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .promo {
    &__icons {
      margin: 30px auto 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      width: 100%;
    }
  }
  .consultation {
    background: url('../../images/consultation/consultation_bg.png') 60%
      (center / cover) no-repeat;
    &__descr {
      font-size: 16px;
    }
  }
  .form {
    &_feed {
      width: 100%;
      input {
      }
    }
  }
  .title {
    &_left {
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 10px;
  }
  .header {
    &__logo {
      width: 100%;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    &__official {
      width: 100%;
      font-size: 24px;
      span {
        font-size: 30px;
        line-height: 30px;
      }
    }
    &__contacts {
      gap: 10px;
      align-items: center;
    }
    &__phone {
      margin-top: 60px;
      font-size: 24px;
    }
  }
  .btn {
    font-size: 22px;
    height: 100%;
    width: 100%;
    padding: 10px;
    &_promo {
      font-size: 18px;
    }
  }
  .promo {
    background: url('../images/main_bg.png') 25% (center / cover) no-repeat;

    &__title {
      font-size: 30px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
  .advantages {
    &__item {
      &-title {
        font-size: 22px;
      }
      &-descr {
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
}
